# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Data - DO NOT PUSH LARGE DATA
# =========================
data/raw/*
data/processed/*

# Keep folder structure in Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================
# Logs
# =========================
*.log

